select {
	position: relative;
	font-family: Krusty;
	display: block;
	padding: 10px;
	outline: none;
}

select option{
	font-size: 14px;
	height: 29px;
	padding: 5px;
	width: 268px;
	background-color: white;
	padding: 10px;
}

.salesdata, th{
	font-size: 20px;
	border: 1px solid black;
}

th {
	height: 20px;
	width: 300px;
	background-color: #FFC0CB;
	font-weight: bolder;
}

tr, td{
	height: 20px;
	width: 300px;
	font-weight: bolder;
	font-size: 20px;
	border: 1px solid black;
	padding-left: 4px;
}

tr:nth-child(even) {
	background-color: #bfefff;
}

tr:nth-child(odd) {
	background-color: #00FF00;
}